.contact_form {
}

#contact-form-alert {
	height: 25px;
	margin-bottom: 15px;
	color:red;
	font-size:1.25em;
}

#message_label {
	margin-top:10px;
}

.contact_message {
	width: 98%;
	margin-bottom: 10px;
	resize: none;
}

.contact-field {
	width:40%;
}

label {
	width: 100px;
	position:relative;
	margin-top:10px;
	margin-bottom:5px;
	font-size:1.2em;
}

#submit {
	font-weight:bold;
	padding: 10px;
	border:1px solid #004a93;
	border-radius:8px;
}

#submit:hover {
	color:#FFFFFF;
	background-color:gray;
}


